* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    height: 100vh;
    width: 100vw;
  }
 
  
  main {
    display: flex;
    justify-content: center;
    height: 63vh;
  }
  .rect_de_admin {
    width: 70%;
    height: 100%;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    .partie_gauche {
      background-color: rgba(79, 113, 200, 1);
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #profil_login {
      width: 50%;
    }
    .partie_daroite {
      width: 50%;
      background-color: rgba(243, 243, 244, 1);
      border-bottom-right-radius: 16px;
      border-top-right-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #title {
      margin-top: 22px;
      font-size: 36px;
      font-family: sans-serif;
      color: rgba(79, 113, 200, 1);
      display: flex;
      justify-content: center;
      position: absolute;
    }
    #title::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      background-color: rgba(79, 113, 200, 1);
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      animation: animate 4s linear infinite;
    }
    @keyframes animate {
      0% {
        width: 100px;
      }
      50% {
        width: 200px;
      }
      100% {
        width: 100px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      width: 100%;
      gap: 10px;
    }
    input {
      width: 40%;
      height: 20px;
    }
    .donner {
      width: 50%;
      height: 40px;
      border: 2px solid rgba(79, 113, 200, 1);
      border-radius: 5px;
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .do {
      outline: none;
      width: 90%;
      height: 30px;
      border: none;
      background-color: rgba(243, 243, 244, 1);
    }
    .choisi-type {
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .type_cod,
    .type_code {
      width: 40%;
      height: 40px;
      border: 2px solid rgba(79, 113, 200, 1);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      
    }
    .type_cod,
    .type_code:hover{
      
        cursor:pointer;
      
    }
  
    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 8px;
    }
    .BACK {
      width: 100%;
      height: 40px;
      background-color: rgba(219, 215, 215, 1);
      color: rgba(79, 113, 200, 1);
      border: none;
      border-radius: 5px;
      font-size: 18px;
    }
    .BACK:hover {
      font-size: 17px;
      background-color: rgba(219, 209, 209, 0.548);
    }
    .LOGIN {
      width: 100%;
      height: 40px;
      color: rgba(219, 215, 215, 1);
      background-color: rgba(79, 113, 200, 1);
      font-size: 18px;
      border: none;
      border-radius: 5px;
    }
    .LOGIN:hover {
      font-size: 17px;
      background-color: rgb(55, 89, 175);
    }
  }
  footer {
    background-image:url(./image/footre.png);
    width: 100%;
    height: 170px;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    .phrase {
      display: flex;
      gap: 10px;
    }
    i {
      font-size: 25px;
    }
    .button_mail {
      width: 100%;
      height: 40px;
      background-color: blueviolet;
      display: flex;
      border: 1px solid black;
      border-radius: 5px;
    }
  
    .email {
      outline: none;
      width: 80%;
      height: 100%;
      border: none;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
    .ok{
      width: 20%;
      border: none;
      border-left: 1px solid black;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      background-color: rgba(178, 223, 236, 1);
      font-style: initial;
    }
  }
  .DROITE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
  }
  .logo_footer {
    width: 200px;
  }
  .CENTER{
    width: 20%;
    color: whitesmoke;
    display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  }
  
  // class de click une un choix back ou login 
  .choix{
    background-color: rgb(55, 89, 175);
  color: rgb(255, 255, 255);
  border: 1px solid black;
  }
  
  @media(max-width:380px){
    html{
      width: 100%;
    }
    body{
      width: 100%;
      height: 100%;
    
    
    }
  header{
    display: none;
  }
  main{
    height: 100%;
    width: 100%;
  }
  footer{
    display: none;
    
  }
  .rect_de_admin{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
  .partie_daroite form{
    height: 100%;
  }
  .rect_de_admin
  .partie_daroite{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
  }
  .rect_de_admin
  .partie_gauche{
    width: 100%;
    border-radius: 0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .input
  .donner{
    width: 80%;
    
  }
  .choisi-type
  .type_code{
    width: 40%;
  }
  
  .rect_de_admin 
  .choisi-type{
    width:  80%;
  }
  .rect_de_admin 
  .button {
    width: 80%;
  }
  .BACK,
  .LOGIN{
    width: 80%;
  }
  
  
  }