*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #D3E0FF;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}


.profile{
    background-color: #4F71C8;
    display: flex;
   
    
}
.menu{
    display: none;
}
.A-serch{
    display: none;
}
footer {
    background-image: url(footre.png);
    width: 100%;
    height: 170px;
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  footer .phrase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  
  footer i {
    font-size: 25px;
  }
  
  footer .button_mail {
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  footer .email {
    outline: none;
    width: 80%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  footer .ok {
    width: 20%;
    height: 100%;
    border: none;
    border-left: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #b2dfec;
    font-style: initial;
  }
  
  .DROITE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    color: white;
  }
  
  .logo_footer {
    width: 200px;
  }
  
  .CENTER {
    width: 20%;
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
  
  
  
  
  
  
@media(max-width:760px){
    .but-H{
        display: none;
    }
    .T-N{
        display: none;
    }
    .button-page{
        display: none;
    }
    
    
}
h3 {
    display: none;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
footer {
    background-image: url(footre.png);
    width: 100%;
    height: 160px;
    margin-top: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-top: 10%;
  }
footer .phrase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    gap: 10px;
    margin-left: 10%;
   
   

   
  }
 
  
  #profil_login{
    width: 29%;
  }
  .CENTER {
    width: 60%;
    color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-top: -30px;
  }
  .email{
      width: 100%;
  }
  footer .email {
   
    width: 100%;
    height: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
   
  }
  footer .button_mail {
width: 50%;
height: 40px;
background-color: blueviolet;

display: flex;
text-align: center;
border: 1px solid black;
border-radius: 5px;
margin-bottom: 10%;
position: absolute;

}
.DROITE {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
gap: 10px;
color: white;

}
  footer i {
    font-size: 20px;
  }
  .logo_footer {
    width: 150px;
    padding-top: 15%;
  }
 



.logo{
    width: 10%;
    position:absolute;
    margin-top: 1%;
}
.profile-A{
    
    background-color: white;
    border-radius: 100%;
    width: 18%;
   margin-top: 2%;
    text-align: center;
    margin-left: auto;
    margin-bottom: 2%;

    
    
}
.but-H{
    margin-left: auto;
    box-shadow: black;
    
    
    
}
.button-Home{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 4px;
    border:1px solid #fff;
    color: #fff;
    font-weight: bold;
    padding:4% 0 0 0;
   
    box-shadow: 0 3px 4px 0 rgb(141, 139, 139);
}

.button-Home{
    position: absolute;
    
    margin-left: -10%;
   padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
   
    
    
    margin-top: 2%;
    
}
.img-profile{
    
    margin-top: 2%;
    width: 100%;
   
   
}
.button-page{
    margin-top: -0.8%;
    text-align: center;
    
   

}
.button-Ferm{
    background-color: white;
    padding: 0.8%;
    border: 1px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    
}
.button-Pati{

    padding: 1.6%;
    background-color: #4F71C8;
    border-style: none;
    padding-bottom: 30px ;
    
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;   
    text-align: center;
   
    
}
.button-Pro{
    
    background-color: white;
    padding: 0.8%;
    padding-right: 3%;
    padding-left: 3%;
    border: 1px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}


.rechirche-B{
    
    text-align: center;
    width: 100%;
    height: 30px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid black;
    
}
.rechirche-A{
    margin-top: 5%;
    text-align: center;
    
   display: flex;
   justify-content: center;
    
}
.recirche-C{
    
    width: 40%;
}

.icone-R{
    
    position: absolute;
    width: 30px;
    
}
#but1{
    margin-right: 50px;
    width: 150px;
}
#but2{
    margin-right: 50px;
    width: 150px;
}
#but3{
    margin-right: 50px;
    width: 150px;
}
.B-serch{
    
    padding: 6.3px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin-left: -1%;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
button:hover{
cursor: pointer;
}

td,
th {
    border: 1px solid #333;
    padding: 85px;
    padding-top: 1%;
    padding-bottom: 1%;
    
   
    
}
.T-N{
   width: 100%;
   margin-top: 5%;
   font-size: 80%;
}
.T-A{
    padding: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-right-radius: 8px;

}
th{
    background-color: white;
}
.T1{
    border-top-left-radius: 8px;
}
.icon1{
    width: 20%;
    margin-right: 10%;
    
}
.icon2{
    width: 20%;
   
}
.icon0{
   
    display: flex;
    flex-direction: row;
    padding: 10%;
}
.B-Ajouter{
    
    display: flex;
    width: 100%;
    height: 30px;
    
    
    
}
.ione-1{
    width: 20px;
    position: absolute;
   
    margin-left: 12%;
    margin-top: 4px;
  
}
.B-Ajouter1{
    margin-left: 80%;
    width: 15%;
    text-align: left;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 9px;


}
.ione-1{
    width: 25px;
    position: absolute;
    margin-left: 92%;
}
.Table-T{
   width: 100%;
   display: none;
}


.table-P{
    padding: 30px;
   text-align: right;
    border-radius: 2px;
}
.allb2{
    display: none;
}
@media(max-width:760px)
{ 
    .rechirche-A{
        width: 86%;
        margin-left: 8%;
    }
    .allb2 {
       
        position: fixed;
       width: 100vw;
       height: 100vh;
       left: 0;
       top: 0;
       padding-top: 20%;
       z-index: 999;
       justify-content: center;
       align-items: center;
       background: white;
       display: none;
    }
    .allb2 ul li {
        display: flex;
        flex-direction: column;
        list-style: none;
       
        margin:  0 40px ;
       
        justify-content: center;
        align-items: center;
        padding: 30px;
        position: relative;
    }
    .menu-toggle2{
        display: inline-block;
        position:absolute;
        margin-left: 85%;
        bottom: 85%;
        font-size: 22px;
        color: #3759af;
    }
    .allb2 ul li a{
        text-decoration: none;
        color:black;
        margin-top: 5%;
        font-family: sans-serif;
    }
    .allb2 .kk {
        display: block;
        width: 100px;
        height: 30px;
        text-decoration: none;
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid #065095;
        color: #065095;
        font-weight: bold;
        box-shadow: 0 4px 4px 0 rgb(238, 237, 237);
        padding: 1% 0 0 0;
    }
    .allb2-open{
        display: inline-block;
    }   
      .profile-A{
    position: absolute;
    margin-left: 32%;
    width: 150px;
}
.profile{
    height: 100px;
    margin-bottom: 30%;
}
.menu{
    display:block;
    margin-left: 90%;
}
    .B-serch{
        display: none;
    }
    .icone-R{
        display: none;
    }
    .A-serch{
        display: inline;
        background-color: white;
        border: 1px solid black;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 60px;
      
        
    }
    .menu-toggle{
        display:block;
         margin-top: 86%;
        
       
        font-size: 22px;
        color: #fff;
       
    }
    .logo {
        width: 18%;
        position: absolute;
        margin-top: 1%;
    }
    .recirche-C{
        width: 70%;
    }
    .icone-R1{
    width: 40%;
    

    
    } 
    .B-Ajouter1{
        height: 35px;
        margin-left: 13%;
    width: 77%;
        text-align: center;
    }
    .ione-1{
        position: absolute;
        margin-left: 50%;
    }
   .B-Ajouter{
    width: 95%;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    
   
   
   }
   .Table-T{
       display: inline;
      margin-left: 14%;

   }
   #A{
       text-align: left;
   }
      td{
        width: 350px;
       
   }
   .table-P{
       padding: 5%;
   }
   .buttonB{
       display: none;
     
   }
   .ione-1{
       margin-top: 6px;
       margin-left: 63%;
   }

    

}
@media (min-width:760px) {
    .allb2-open{
        display: none;
    }
    
    
}