*{
    padding: 0;
    margin: 0;
  }
  html {
    width: 100%;
    height: 100%;
  }
  body {
    width: 100%;
    height: 100%;
  }
  header {
    width: 100%;
    height: 150px;
  }
  main {
    width: 100%;
    height: 60%;
  }
  .Ensemble {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .LEFT {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    .nom_et_prenom {
      width: 60%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 9px;
      border: 2px solid rgb(150, 147, 147);
      padding: 13px 20px;
    }
  }
  .REIGHT {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 40px;
    align-items: center;
    gap: 40px;
    padding-bottom: 10px;
    padding-right: 180px;
    .buut{
        width: 50%;
        height: 60px;
        border: none;
        border-radius: 9px;
        background-color: rgb(55, 89, 175);
        color: white;
    }
   
  }
  footer {
    width: 100%;
    height: 200px;
  }
  .hed{
    display: none;
  }
  
  
  @media (max-width:380px){
  .hed{
    display: flex;
    width: 100%;
    height: 80px;
  }
  .Ensemble{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: center;
  }
  .LEFT{
    width: 100%;
  }
  .REIGHT{
    width: 100%;
    display: flex;
    padding: 0 39px;
    flex-direction: row;
    font-size: 18px;
  }
  .LEFT .nom_et_prenom{
    width:80%;
  }
  
  }
  